
<%= render 'shared/errors', obj: @article %>

<%= form_with(model: @article, local: true, class: 'gc-form') do |f| %>
  <p>
    <%= f.label :title, class: 'gc-form-label' %> <br>
    <%= f.text_field :title, class: 'gc-form-input' %>
  </p>
  <p>
    <%= f.label :description, class: 'gc-form-label' %> <br>
    <%= f.text_area :description, class: 'gc-form-textarea' %>
  </p>
  <p>
    <%= f.submit class: 'gc-button gc-form-button' %>
  </p>
<% end %>

<br>