<div class="title">
  <h1>Alpha Bloggers</h1>
</div>

<% @users.each do |user| %>
  <div class="user-card-container">
    <div class="user-card">
      <h3 class="user-card-username">
        <%= link_to user.username, user_path(user), class: "" %>
      </h3>
      <div class="user-card-profile-picture">
        <%= gravatar_for user, size: 200, class: "profile-image" %>
      </div>
      <div class="user-card-articles-number">
        <%= pluralize user.articles.count, "article" %>
      </div>
      <div class="user-card-actions gc-button-group">
        <%= button_to "View profile", { action: "show", id: user.id }, { method: :get, class: 'gc-button' } %>
        <%= button_to "Edit profile", { action: "edit", id: user.id }, { method: :get, class: 'gc-button secondary' } %>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @users %>