<nav>
  <ul class="menu-items">
    <li>
      <%= link_to "Home", root_path, data: { item: 'Home' } %>
    </li>
    <li class="dropdown">
      <a href="#" data-item="Articles">Articles</a>
      <div class="dropdown-content">
        <%= link_to "List", articles_path, data: { item: 'List' } %> <br>
        <% if logged_in? %>
          <%= link_to "Create", new_article_path, data: { item: 'Create', 'turbo-method': :get } %> <br>
        <% end %>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" data-item="Bloggers">Bloggers</a>
      <div class="dropdown-content">
        <%= link_to "List", users_path, data: { item: 'List' } %> <br>
        <% if logged_in? %>
          <%= link_to current_user.username, user_path(current_user) , data: { item: current_user.username } %> <br>
          <%= link_to "Logout", logout_path , data: { item: 'Logout', 'turbo-method': :delete } %> <br>
        <% else %>
          <%= link_to "Login", login_path, data: { item: 'Login' } %> <br>
          <%= link_to "Register", signup_path, data: { item: 'Register' } %> <br>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to "About", about_path, data: { item: 'About' } %> <br>
    </li>
  </ul>
</nav>